In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from warnings import filterwarnings
filterwarnings('ignore')
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('movie_data.csv')
df.head()

,Movie Name,Year of Release,Watch Time,Genre,Movie Rating,Metascore of movie,Director,Cast,Votes,Description
0,Oppenheimer,2023,180 min,"\nBiography, Drama, History",8.6,88.0,Christopher Nolan,"Cillian Murphy,Emily Blunt,Matt Damon,Robert D...","368,392","The story of American scientist, J. Robert Opp..."
1,Barbie,2023,114 min,"\nAdventure, Comedy, Fantasy",7.4,80.0,Greta Gerwig,"Margot Robbie,Ryan Gosling,Issa Rae,Kate McKinnon","246,653",Barbie suffers a crisis that leads her to ques...
2,Heart of Stone,2023,122 min,"\nAction, Crime, Thriller",5.7,44.0,Tom Harper,"Gal Gadot,Jamie Dornan,Alia Bhatt,Jing Lusi","29,166",An intelligence operative for a shadowy global...
3,"Red, White & Royal Blue",2023,118 min,"\nComedy, Romance",7.1,62.0,Matthew López,"Taylor Zakhar Perez,Nicholas Galitzine,Uma Thu...","22,778",When the feud between the son of the American ...
4,Blue Beetle,2023,127 min,"\nAction, Adventure, Sci-Fi",6.8,61.0,Angel Manuel Soto,"Xolo Maridueña,Bruna Marquezine,Becky G,Damián...","11,680",An alien scarab chooses college graduate Jaime...

In [3]:
df.shape

(1000, 10)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Movie Name          1000 non-null   object
 1   Year of Release     996 non-null    object
 2   Watch Time          969 non-null    object
 3   Genre               1000 non-null   object
 4   Movie Rating        950 non-null    float64
 5   Metascore of movie  909 non-null    float64
 6   Director            1000 non-null   object
 7   Cast                1000 non-null   object
 8   Votes               950 non-null    object
 9   Description         1000 non-null   object
dtypes: float64(2), object(8)
memory usage: 78.2+ KB

In [5]:
df.isnull().sum()

Movie Name             0
Year of Release        4
Watch Time            31
Genre                  0
Movie Rating          50
Metascore of movie    91
Director               0
Cast                   0
Votes                 50
Description            0
dtype: int64

In [6]:
df.duplicated().sum()

0

In [7]:
df.nunique()

Movie Name             992
Year of Release         98
Watch Time             113
Genre                  196
Movie Rating            57
Metascore of movie      79
Director               593
Cast                   996
Votes                  949
Description           1000
dtype: int64

In [8]:
df['Year of Release'].unique()

array(['2023', ' 2023', 'I) (2022', '2024', 'II) (2022', '2022', '2014',
       'I) (2023', '2018', '1972', 'I) (2014', '2021', '2008', '2009',
       '1994', '2013', '2010', '2019', '2001', '2020', '2006', '1995',
       'II) (2023', '2017', '1975', '1997', '2011', '1999', 'II) (2015',
       '2005', '1990', 'I) (2019', '2015', '2000', '1979', '1986', '1973',
       '2012', '1976', 'I) (2011', '1984', '1993', '1982', '2007', '1978',
       'I) (1996', '2004', '1985', '1974', 'III) (2023', '1996', '2016',
       '1983', '1991', '2003', 'I) (2010', 'I) (2021', 'I) (2008', '1980',
       '1998', '1977', 'V) (2022', '1957', '1992', '1981', '1958', '1968',
       '1987', nan, 'II) (2020', 'I) (2017', '2002', '1988', 'I) (2015',
       '1989', '1967', '1971', 'I) (2012', 'I) (2018', 'I) (2013', '1952',
       'I) (1987', '1966', 'I) (2016', '1939', '2025', 'IX) (2016',
       '1960', 'I) (2007', '1965', 'I) (2005', '1942', 'I) (2009',
       'I) (1995', 'II) (2016', '1937', 'I) (2020', 'I) (2003',
       'I) (2004'], dtype=object)

In [9]:
df['Year of Release'].value_counts()

2023        138
2022         61
2021         39
2017         30
2018         29
           ...
V) (2022      1
I) (2008      1
I) (1996      1
I) (2014      1
I) (2004      1
Name: Year of Release, Length: 98, dtype: int64

In [10]:
df['Year of Release'] = df['Year of Release'].str.split('(').str[0]

In [11]:
df['Year of Release'].value_counts()

2023    138
I)       73
2022     61
2021     39
2017     30
       ...
1952      1
1967      1
1958      1
V)        1
1937      1
Name: Year of Release, Length: 72, dtype: int64

In [12]:
df['Year of Release'] = df['Year of Release'].str.split(')').str[0]

In [13]:
df['Year of Release'].value_counts()

2023    138
I        73
2022     61
2021     39
2017     30
       ...
1952      1
1967      1
1958      1
V         1
1937      1
Name: Year of Release, Length: 72, dtype: int64

In [14]:
df['Year of Release'] = df['Year of Release'].str.strip()

In [15]:
df['Year of Release'].unique()

array(['2023', 'I', '2024', 'II', '2022', '2014', '2018', '1972', '2021',
       '2008', '2009', '1994', '2013', '2010', '2019', '2001', '2020',
       '2006', '1995', '2017', '1975', '1997', '2011', '1999', '2005',
       '1990', '2015', '2000', '1979', '1986', '1973', '2012', '1976',
       '1984', '1993', '1982', '2007', '1978', '2004', '1985', '1974',
       'III', '1996', '2016', '1983', '1991', '2003', '1980', '1998',
       '1977', 'V', '1957', '1992', '1981', '1958', '1968', '1987', nan,
       '2002', '1988', '1989', '1967', '1971', '1952', '1966', '1939',
       '2025', 'IX', '1960', '1965', '1942', '1937'], dtype=object)

In [16]:
# Dropping that column that has outlier dates as 'I'
index_to_drop = df[df['Year of Release'] == 'I'].index
df.drop(index_to_drop, inplace=True)

# Dropping that column that has outlier dates as 'II'
index_to_drop1 = df[df['Year of Release'] == 'II'].index
df.drop(index_to_drop1, inplace=True)

# Dropping that column that has outlier dates as 'III'
index_to_drop2 = df[df['Year of Release'] == 'III'].index
df.drop(index_to_drop2, inplace=True)

# Dropping that column that has outlier dates as 'V'
index_to_drop3 = df[df['Year of Release'] == 'V'].index
df.drop(index_to_drop3, inplace=True)

# Dropping that column that has outlier dates as 'IX'
index_to_drop4 = df[df['Year of Release'] == 'IX'].index
df.drop(index_to_drop4, inplace=True)

In [17]:
df['Year of Release'].unique()

array(['2023', '2024', '2022', '2014', '2018', '1972', '2021', '2008',
       '2009', '1994', '2013', '2010', '2019', '2001', '2020', '2006',
       '1995', '2017', '1975', '1997', '2011', '1999', '2005', '1990',
       '2015', '2000', '1979', '1986', '1973', '2012', '1976', '1984',
       '1993', '1982', '2007', '1978', '2004', '1985', '1974', '1996',
       '2016', '1983', '1991', '2003', '1980', '1998', '1977', '1957',
       '1992', '1981', '1958', '1968', '1987', nan, '2002', '1988',
       '1989', '1967', '1971', '1952', '1966', '1939', '2025', '1960',
       '1965', '1942', '1937'], dtype=object)

In [18]:
# Drop rows with null values in 'Year of Release' column
df.dropna(subset=['Year of Release'], inplace=True)

In [19]:
df.isnull().sum()

Movie Name             0
Year of Release        0
Watch Time            26
Genre                  0
Movie Rating          44
Metascore of movie    80
Director               0
Cast                   0
Votes                 44
Description            0
dtype: int64

In [20]:
df.shape

(906, 10)

In [21]:
# Save the dataframe to a CSV file
df.to_csv('clean_movie_data.csv', index=False)

In [22]:
df.head()

,Movie Name,Year of Release,Watch Time,Genre,Movie Rating,Metascore of movie,Director,Cast,Votes,Description
0,Oppenheimer,2023,180 min,"\nBiography, Drama, History",8.6,88.0,Christopher Nolan,"Cillian Murphy,Emily Blunt,Matt Damon,Robert D...","368,392","The story of American scientist, J. Robert Opp..."
1,Barbie,2023,114 min,"\nAdventure, Comedy, Fantasy",7.4,80.0,Greta Gerwig,"Margot Robbie,Ryan Gosling,Issa Rae,Kate McKinnon","246,653",Barbie suffers a crisis that leads her to ques...
2,Heart of Stone,2023,122 min,"\nAction, Crime, Thriller",5.7,44.0,Tom Harper,"Gal Gadot,Jamie Dornan,Alia Bhatt,Jing Lusi","29,166",An intelligence operative for a shadowy global...
3,"Red, White & Royal Blue",2023,118 min,"\nComedy, Romance",7.1,62.0,Matthew López,"Taylor Zakhar Perez,Nicholas Galitzine,Uma Thu...","22,778",When the feud between the son of the American ...
4,Blue Beetle,2023,127 min,"\nAction, Adventure, Sci-Fi",6.8,61.0,Angel Manuel Soto,"Xolo Maridueña,Bruna Marquezine,Becky G,Damián...","11,680",An alien scarab chooses college graduate Jaime...